.page-title {
  font-family: 'Yeseva One';
  font-size: 48px;
  line-height: 55px;
  color: var(--color-primary);
  text-align: center;
  padding: 15px;
}
.vaccines-card {
  background-color: white;
  padding: 20px 15px;
  border-radius: 10px;
  font-family: 'WorkSans-Regular';
}

.vaccine-list__image {
  width: 100px;
  height: 70px;
  object-fit: cover;
}
