.vaccines-card {
  background-color: white;
  padding: 20px 15px;
  border-radius: 10px;
  font-family: 'WorkSans-Regular';
}

.vaccine-list__image {
  width: 100px;
  height: 70px;
  object-fit: cover;
}
