.inform-item {
  color: var(--color-fifth);
  font-family: 'WorkSans-Regular';
  font-size: 18px;
  line-height: 140%;
}

.inform-item h3 {
  color: var(--color-fifth);
  font-family: 'WorkSans-Bold';
  font-size: 26px;
  line-height: 140%;
  margin-block: 5px;
}

.inform-title {
  color: var(--color-primary);
  font-family: 'Yeseva One';
  font-size: 30px;
  line-height: 140%;
  background-color: var(--color-fourth);
  margin-block: 20px;
}
