body {
  font-family: 'WorkSans-Regular';
  line-height: 1.4;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
