.vaccine-item {
  width: 280px;
  height: 386px;
  padding: 15px 10px;
  margin: 15px;
  border-radius: 12px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.vaccine-item:hover {
  background-color: var(--color-fourth);
}

.vaccine-item__image {
  width: 260px;
  height: 220px;
  border-radius: 20px;
  margin: 0 auto;
}
.vaccine-item__image img {
  width: 260px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.vaccine-item__info {
  padding-inline: 10px;
}

.vaccine-item__name {
  vertical-align: top;
  font-family: 'WorkSans-SemiBold';
  color: var(--color-primary);
  font-size: 16px;
  line-height: 22px;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
}

.vaccine-item__desc {
  margin-top: 5px;
  font-family: 'WorkSans-Regular';
  font-size: 15px;
  line-height: 22px;
  color: #212124;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
}
