.admin-detail-vaccine {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}

.section-admin-vaccine-base-inform {
  display: flex;
  border-radius: 10px;
  font-family: 'WorkSans-Regular';
  font-size: 18px;
  line-height: 26px;
  color: var(--color-fifth);
}

.admin-vaccine-image {
  width: 600px;
  height: 450px;
  margin-right: 20px;
}

.admin-vaccine-image img {
  width: 600px;
  height: 450px;
  object-fit: cover;
}

.admin-vaccine-name {
  font-family: 'WorkSans-SemiBold';
  font-size: 26px;
  line-height: 35px;
  text-transform: uppercase;
  margin-top: 30px;
}

.admin-vaccine-des {
  margin-top: 50px;
}

.admin-vaccine-price {
  color: #d0021c;
  font-family: 'Yeseva One';
  font-size: 26px;
  line-height: 35px;
}

.admin-vaccine-price del {
  color: var(--color-fifth);
  font-family: 'Yeseva One';
  font-size: 18px;
  line-height: 35px;
}

hr {
  width: 40%;
  margin-left: 0;
}

.admin-vaccine-category {
  margin-top: 30px;
}

.admin-vaccine-origin {
  margin-top: 30px;
}

.admin-inform-heading {
  color: var(--color-fifth);
  font-family: 'Yeseva One';
  font-size: 36px;
  line-height: 140%;
  text-align: center;
}

.admin-add-inform-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: var(--color-primary);
  font-family: 'WorkSans-Regular';
  font-size: 18px;
  line-height: 26px;
  color: var(--color-third);
  border: none;
}

.admin-add-inform-btn:hover {
  opacity: 0.9;
}

.vaccinee-subject-input {
  margin-bottom: 30px;
  font-family: 'WorkSans-Regular';
  font-size: 18px;
  line-height: 1.4;
}

.admin-inform-list {
  font-family: 'WorkSans-Medium';
  color: var(--color-third);
  margin-top: 30px;
}

.admin-inform-item a {
  font-size: 18px;
  line-height: 1.4;
}
