.section-slideshow {
  width: 100%;
  height: 445px;
  background-image: url('https://www.nhassurance.com/assets/covidvaccine/covid%20page%20footer-89592742ad9044bf503a041e40466dc1c4c8d2435ff6a1db2426d75846d96f2c.png');
  background-size: cover;
}

.slideshow-nav {
  font-family: 'WorkSans-Regular';
  font-size: 16px;
  color: var(--color-third);
  padding: 7px 0px;
}

.slideshow-nav__link {
  color: inherit;
}

.slideshow-title {
  text-align: center;
  font-family: 'Yeseva One';
  font-size: 48px;
  line-height: 55px;
  color: var(--color-third);
}

.slideshow-btn {
  width: 450px;
  display: flex;
  justify-content: space-between;
  margin: 15px auto;
}

.slideshow-btn a {
  background-color: none;
  padding: 10px 15px;
  border: 1px solid var(--color-third);
  border-radius: 20px;
  font-family: 'WorkSans-Medium';
  font-size: 16px;
  line-height: 19px;
  color: var(--color-third);
}

.slideshow-btn a:hover {
  background-color: #ff7400;
}

.slideshow-search {
  background-color: var(--color-third);
  width: 450px;
  margin: 0 400px;
  font-family: 'WorkSans-Medium';
  font-size: 16px;
  line-height: 19px;
  color: var(--color-third);
}

.ant-input {
  border: none;
  background-color: var(--color-third);
}

.ant-btn {
  border: none;
  color: var(--color-primary);
  background-color: var(--color-third);
}

.ant-btn:hover {
  border: 0px;
  color: var(--color-primary);
  background-color: var(--color-third);
}

.ant-btn:active {
  border: 0px;
  color: var(--color-primary);
  background-color: var(--color-third);
}

.section-categories {
  margin-top: 30px;
}
