.header-top {
  height: 80px;
  background-color: var(--color-third);
}

.logo {
  font-family: 'Yeseva One';
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: var(--color-primary);
  display: inline-block;
  margin: 19px 0px;
}

.header-actions {
  float: right;
  width: 623px;
  height: 42px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.header-action__item {
  display: inline-block;
  margin-left: 9px;
  font-family: 'WorkSans-Medium';
  font-size: 16px;
  line-height: 19px;
  color: var(--color-primary);
}

.header-action__item time {
  color: var(--color-secondary);
}

.header-actions li::before {
  display: inline-block;
  background-size: 40px 38px;
  background-repeat: no-repeat;
  width: 40px;
  height: 38px;
}

.header-action__emergency::before {
  content: '';
  background-image: url('phone-icon.svg');
}

.header-action__time::before {
  content: '';
  background-image: url('clock-icon.svg');
}

.header-action__location::before {
  content: '';
  background-image: url('map-icon.svg');
}

.header-nav {
  height: 80px;
  background-color: var(--color-primary);
}

.header-menu {
  display: flex;
}

.header-menu li a {
  font-family: 'WorkSans-Regular';
  font-size: 18px;
  line-height: 21px;
  color: var(--color-third);
}

.header-menu li a:hover {
  font-family: 'WorkSans-SemiBold';
  font-size: 18px;
  color: var(--color-fourth);
}

.header-menu li {
  margin-right: 20px;
  margin-top: 29px;
}
