.slideshow-list {
  height: 230px;
}

.slideshow-item {
  display: flex;
  justify-content: center;
}

.category-item {
  width: 181px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.category-item div:hover {
  background-color: var(--color-primary);
  border-radius: 50%;
}

.category-item__image {
  width: 90px;
  height: 90px;
  margin-bottom: 15px;
}

.category-item__name {
  font-family: 'WorkSans-Medium';
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: var(--color-third);
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  text-align: center;
}
