.slideshow-list {
  height: 180px;
}

.slideshow-item {
  display: flex;
  justify-content: center;
}

.category-item {
  width: 181px;
  height: 132px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.category-item div:hover {
  background-color: #ff7400;
  border-radius: 50%;
}

.category-item__image {
  width: 90px;
  height: 90px;
  margin-bottom: 15px;
}

.category-item__name a {
  font-family: 'WorkSans-SemiBold';
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: var(--color-third);
}
